@import 'variables';

/* TITLE AND LEGEND */
#title {
  font-size: $title-font-size;
  font-weight: bold;
}

#subtitle {
  font-size: $subtitle-font-size;
}

.legend-text {
  text-anchor: end;
  font-size: $legend-font-size;
}