@import 'variables';

/* TOOLTIP */
#tooltip {
  position: relative;
  width: 200px;
  border: 1px solid $tooltip-border-color;
  border-radius: 10px;
  background: $tooltip-bg-color;
  padding: 10px;
}