/* VARIABLES */
$main-font: monospace, sans-serif;

$title-font-size: 1.8em;
$subtitle-font-size: 1.5em;
$legend-font-size: 1.2em;

$bg-color: #e5e2e0;
$box-shadow-color: #ccc;
$tooltip-border-color: #615e54;
$tooltip-bg-color: #e5e2e0;